<link rel="stylesheet" href="/css/dropdown.css">
<title><%= text.title %></title>
</head>

<body>
	<%- include('./parts/header') -%>
	<div class="main container-fluid">
		<div class="row justify-content-center align-items-center">
			<div class="col-md-7 col-11 col-lg-9 col-xl-8 px-0" style="text-align:left">
				<h1 class="text-big"><%= text.header %></h1>
			</div>
		</div>
		<div class="row justify-content-center align-items-center">
			<div class="col-md-7 col-11 col-lg-9 col-xl-8 px-0" style="text-align:left">
				<h1 class="text-small"><%= text.mainDesc %></h1>
			</div>
		</div>
		<div class="row justify-content-center align-items-center" style="padding-top:2em;">
			<div class="col-11 col-xl-10 px-0" style="text-align:center">
				<img src="/images/cases/agro/1.jpg" style="width: 100%; height: auto;">
			</div>
		</div>
		<div class="row justify-content-center align-items-center" style="padding-top:3.5em;">
			<div class="col-md-7 col-11 col-lg-9 col-xl-8 px-0" style="text-align:left">
				<h1 class="portfolio-header text-big"><%= text.objective %></h1>
			</div>
		</div>
		<div class="row justify-content-center align-items-center">
			<div class="col-md-7 col-11 col-lg-9 col-xl-8 px-0" style="text-align:left">
				<h1 class="text-small"><%- text.objectiveText %></h1>
			</div>
		</div>
		<div class="row justify-content-center align-items-center" style="padding-top:2em;">
			<div class="col-md-7 col-11 col-lg-9 col-xl-8 px-0" style="text-align:left">
				<h1 class="portfolio-header text-big"><%= text.tech %></h1>
			</div>
		</div>
		<div class="row justify-content-center align-items-center">
			<div class="col-md-7 col-11 col-lg-9 col-xl-8 px-0" style="text-align:left">
				<h1 class="text-small"><%= text.techText %></h1>
			</div>
		</div>
		<div class="row justify-content-center align-items-center" style="padding-top:2em;">
			<div class="col-md-7 col-11 col-lg-9 col-xl-8 px-0" style="text-align:left">
				<h1 class="portfolio-header text-big"><%= text.impl %></h1>
			</div>
		</div>
		<div class="row justify-content-center align-items-center">
			<div class="col-md-7 col-11 col-lg-9 col-xl-8 px-0" style="text-align:left">
				<h1 class="text-small"><%= text.implText1 %></h1>
			</div>
		</div>
		<div class="row justify-content-center align-items-center" style="padding-top:2em;">
			<div class="col-11 col-xl-10 px-0" style="text-align:center">
				<img src="/images/cases/agro/2.jpg" style="width: 100%; height: auto;">
			</div>
		</div>
		<div class="row justify-content-center align-items-center">
			<div class="col-md-7 col-11 col-lg-9 col-xl-8 px-0" style="text-align:left">
				<h1 class="text-small"><%= text.implText2 %></h1>
			</div>
		</div>
		<div class="row justify-content-center align-items-center" style="padding-top:2em;">
			<div class="col-11 col-xl-10 px-0" style="text-align:center">
				<img src="/images/cases/agro/3.jpg" style="width: 100%; height: auto;">
			</div>
		</div>
		<div class="row justify-content-center align-items-center">
			<div class="col-md-7 col-11 col-lg-9 col-xl-8 px-0" style="text-align:left">
				<h1 class="text-small"><%= text.implText3 %></h1>
			</div>
		</div>
		<div class="row justify-content-center align-items-center" style="padding-top:2em;">
			<div class="col-11 col-xl-10 px-0" style="text-align:center">
				<img src="/images/cases/agro/4.jpg" style="width: 100%; height: auto;">
			</div>
		</div>
		<div class="row justify-content-center align-items-center">
			<div class="col-md-7 col-11 col-lg-9 col-xl-8 px-0" style="text-align:left">
				<h1 class="text-small"><%= text.implText4 %></h1>
			</div>
		</div>
		<div class="row justify-content-center align-items-center" style="padding-top:2em;">
			<div class="col-11 col-xl-10 px-0" style="text-align:center">
				<img src="/images/cases/agro/5.jpg" style="width: 100%; height: auto;">
			</div>
		</div>
		<div class="row justify-content-center align-items-center">
			<div class="col-md-7 col-11 col-lg-9 col-xl-8 px-0" style="text-align:left">
				<h1 class="text-small"><%= text.implText5 %></h1>
			</div>
		</div>
		<div class="row justify-content-center align-items-center" style="padding-top:2em;">
			<div class="col-11 col-xl-10 px-0" style="text-align:center">
				<img src="/images/cases/agro/6.jpg" style="width: 100%; height: auto;">
			</div>
		</div>
		<div class="row justify-content-center align-items-center" style="padding-top:3.5em;">
			<div class="col-md-7 col-11 col-lg-9 col-xl-8 px-0" style="text-align:left">
				<h1 class="portfolio-header text-big"><%= text.result %></h1>
			</div>
		</div>
		<div class="row justify-content-center align-items-center">
			<div class="col-md-7 col-11 col-lg-9 col-xl-8 px-0" style="text-align:left">
				<h1 class="text-small"><%= text.resultText %></h1>
			</div>
		</div>
		<div id="feedback-button-wrap" class="row justify-content-center align-items-center"
			style="padding-top:5em; padding-bottom: 4.5em;">
			<div class="col-11 col-md-7 col-lg-7 col-xl-5 " style="text-align:center">
				<button class="glow-white-button feedback-button" data-toggle="modal"
					data-target="#feedback"><%= text.form_button %></button>
			</div>
		</div>
	</div>
</body>