<div id="footer" class="footer">
  <div class="container-fluid">
    <div class="row justify-content-center" style="padding-top:5em; padding-bottom:5em;">
      <div class="col-12 col-lg-4 col-xl-2" style="text-align:center">
        <a href="/<%= link %>"><img class="logo logo-jarm" src="/images/logo-white.svg" alt="JARM Web Solutions" style="padding-left:5%;"></a></br></br>
      </div>
      <div class="col-4 col-md-3 col-lg-2 col-xl-1 offset-xl-1" style="margin-right: 4%;">
        <a href="/<%= link %>#portfolio">
          <h2 class="footer-link"><%= text_header.portfolio %></h2>
        </a></br>
        <a href="/<%= link %>#services-link">
          <h2 class="footer-link"><%= text_header.services %></h2>
        </a></br>
      </div>
      <div class="col-4 col-md-3 col-lg-2 col-xl-1" style="margin-right: 4%;">
        <a href="/about<%= link %>">
          <h2 class="footer-link"><%= text_header.about %></h2>
        </a></br>
        <a href="/contacts">
          <h2 class="footer-link"><%= text_header.contacts %></h2>
        </a></br>
      </div>
      <div class="col-4 col-md-3 col-lg-2 col-xl-1">
        <a href="/job">
          <h2 class="footer-link"><%= text_header.job %></h2>
        </a></br>
      </div>
      <div class="col-12 col-lg-1 offset-xl-1">
        <div class="row">
          <div class="col-lg-12 col-xl-12 col-md-4 col-4" style="text-align:center">
            <a href="https://t.me/JARM_official" target="_blank"><img class="icon-footer" src="/images/tg.svg" alt="JARM Web Solutions"></a>
          </div>
          <div class="col-lg-12 col-xl-12 col-md-4 col-4" style="text-align:center">
            <a href="/"><img class="icon-footer" src="/images/inst.svg" alt="JARM Web Solutions"></a>
          </div>
          <div class="col-lg-12 col-xl-12 col-md-4 col-4" style="text-align:center">
            <a href="/"><img class="icon-footer" src="/images/vk.svg" alt="JARM Web Solutions"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/landing.js"></script>
